<%- include('include/head.ejs')%>

<% if (details.length > 0) {%>
<% for (let post of details) {%>
<fieldset>
    <legend>
        <h2><%=post.heading%></h2>
    </legend>
    <h7><%= post.postContent%></h7>
    <br>
    <p>
        <hr>
        <h3> written by <%= post.name%></h3>
        <a href="/update<%=post._id%>">Update</a>
        <a href="/delete<%=post._id%>">Delete</a>
    </p>
</fieldset>
<br>
<%}%> 
<%} else {%>
    <h1>No Posts are Posted ...........</h1>
    <%}%>

</body>

</html>