<%- include('include/head.ejs')%>
<!-- <p>form for adding the post will come here</p> -->
<div class="container jumbotron">

    <form action="/updatingPost" method="post" class="form-group">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name.." value="<%= name%>">
        </div>


        <div class="form-group">
            <label for="heading">Heading</label>
            <input type="text" class="form-control" id="heading" name="heading" placeholder="Heading for post.."
                value="<%=heading%>">
        </div>


        <div class="form-group">
            <label for="subject">Posts</label>
            <textarea id="subject" name="postContent" class="form-control" placeholder="Write something.."
                style="height:200px"><%=postContent%></textarea>
        </div>


        <input type="hidden" name="updateId" value="<%= updateId%>" />
        <button type="submit" value="Update" class="btn btn-outline-success">Update</button>

    </form>
</div>
</body>
<%- include('include/end.ejs')%>